@model TransitPlannerWeb.ViewModels.PlannerInputsModel

<fieldset id="planner-inputs">
    <legend>Útvonaltervezés</legend>

    <input id="planner-inputs-from" name="from-as-text" type="text" placeholder="Honnan" />
    <input id="planner-inputs-to" name="to-as-text" type="text" placeholder="Hova" />

    @using (Html.BeginForm("MakePlan", "RoutePlanner"))
    {
        <input type="hidden" id="planner-hidden-from-id" name="from_stop_id" value="@Html.Raw(Model.FromStop)" />
        <input type="hidden" id="planner-hidden-to-id" name="to_stop_id" value="@Html.Raw(Model.ToStop)" />

        <input type="hidden" id="planner-hidden-when-year" name="year" value="@Html.Raw(Model.SelectedDateTime.Year)" />
        <input type="hidden" id="planner-hidden-when-month" name="month" value="@Html.Raw(Model.SelectedDateTime.Month + 1)" />
        <input type="hidden" id="planner-hidden-when-day" name="day" value="@Html.Raw(Model.SelectedDateTime.Day)" />
        <input type="hidden" id="planner-hidden-when-hour" name="hour" value="@Html.Raw(Model.SelectedDateTime.Hour)" />
        <input type="hidden" id="planner-hidden-when-minute" name="minute" value="@Html.Raw(Model.SelectedDateTime.Minute)" />

        <input type="hidden" id="planner-hidden-enable-tram" name="tram_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("tram") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-subway" name="subway_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("subway") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-rail" name="rail_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("rail") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-bus" name="bus_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("bus") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-ferry" name="ferry_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("ferry") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-cable-car" name="cable_car_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("cable-car") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-gondola" name="gondola_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("gondola") ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-enable-funicular" name="funicular_enabled" value="@Html.Raw(Model.EnabledRouteTypes.Contains("funicular") ? "1" : "0")" />

        <input type="hidden" id="planner-hidden-wheelchair-support" name="wheelchair" value="@Html.Raw(Model.WheelchairSupport ? "1" : "0")" />
        <input type="hidden" id="planner-hidden-walking-speed-category" name="walking_category" value="@Html.Raw(Model.WalkingSpeedCategory)" />
        <input type="hidden" id="planner-hidden-waiting-time-category" name="waiting_category" value="@Html.Raw(Model.MaxWaitingTimeCategory)" />

        <div id="planner-inputs-buttons">
            <button id="planner-inputs-settings" type="button">Beállítások</button>
            <button id="planner-inputs-submit" name="submit" type="submit">Mehet</button>
        </div>
    }
</fieldset>
