@model TransitPlannerWeb.ViewModels.PlanModel

<fieldset id="plan-summary">
    <legend>Útiterv</legend>

    <div class="time-with-label">
        <span>Indulás:</span>
        <time>@Html.Raw(Model.FirstActionTime)</time>
    </div>

    <div class="route-section-infos">
        @foreach (var section in Model.Sections.Where(s => !s.IsWalking))
        {
            <div class="route-section-info">
                <span class="route-section-info-route">
                    @Html.Partial("~/Views/Shared/_RouteLogo.cshtml", section.SectionBadge)
                </span>
                <span class="route-section-info-section">
                    <div class="route-section-info-section-start">@Html.Raw(section.Steps.First().Stop.Name)</div>
                    <div class="route-section-info-section-end">@Html.Raw(section.Steps.Last().Stop.Name)</div>
                </span>
            </div>
        }

    <div class="time-with-label">
        <span>Érkezés:</span>
        <time>@Html.Raw(Model.LastActionTime)</time>
    </div>

    <div id="plan-summary-buttons">
        <button type="button" id="plan-summary-details">Részletes terv</button>
    </div>
</fieldset>
