@model TransitPlannerWeb.ViewModels.MakePlanModel
@{
    ViewBag.Title = "Útvonalterv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="map_canvas"></div>

<div id="planner-settings-dialog" title="Beállítások">
    @Html.Partial("_PlannerSettings")
</div>

<div id="planner-details-dialog" title="Terv részletei">
    @Html.Partial("_PlanDetails")
</div>

<table style="display: none;" id="template-infowindow-table">
    <tr>
        <td>
            <time>##TIME##</time>
        </td>
        <td>##STOP_NAME##
        </td>
    </tr>
</table>

<span style="display: none;" id="template-infowindow">
    <div class="planner-map-bubble-contents">
        <div class="planner-map-bubble-trip-info">
            <div class="route-section-info">
                <span class="route-section-info-route">
                    <span class="route-logo" style="background: ##ROUTE_BASE_COLOR##; color: ##ROUTE_TEXT_COLOR##; font-size: 16px; width: 42px;">
                        <div>
                            <div class="route-logo-content">
                                <div>
                                    ##ROUTE_SHORT_NAME##
                                </div>
                            </div>
                        </div>
                    </span>
                </span>
                <span class="route-section-info-section">
                    <div class="route-section-info-section-start"><strong>##ROUTE_TYPE##</strong></div>
                    <div class="route-section-info-section-end">##ROUTE_DIRECTION## felé</div>
                </span>
            </div>
        </div>
        <hr />
        <div class="planner-map-bubble-trip-details">
            <p>##ROUTE_TABLE_ROWS##</p>
        </div>
    </div>
</span>

@section sidebar {
    <div>
        <div>
            @Html.Partial("_PlannerInputs", Model.Inputs)
        </div>
        <div>
            @Html.Partial("_PlanOverview", Model.Plan)
        </div>
    </div>
}

@section before_scripts {
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx0BPr9sy2ndglbnwYrwrMzXmU0fDoSG8&sensor=true">
    </script>
    @Scripts.Render("~/js/markerwithlabel.js")
}

@section scripts {
    <script>
        var Model = @Html.Raw(Json.Encode(Model));

        window.onload = function () {
            var map = TUSZ.create_map("map_canvas", 47.5, 19.08);

            var countOfSections = Model.Sections.length;

            for (var i in Model.Sections) {
                var section = Model.Sections[i];
                var countOfSteps = Model.Sections[i].Steps.length;

                for (var j = 0; j < countOfSteps - 1; j++) {
                    var step = section.Steps[j];
                    var nextStep = section.Steps[j+1];
                    
                    if (section.IsWalking) {
                        TUSZ.create_walking_line(map, step.Stop.Latitude, step.Stop.Longitude, nextStep.Stop.Latitude, nextStep.Stop.Longitude);
                    } else {
                        TUSZ.create_travel_line(map, step.Stop.Latitude, step.Stop.Longitude, nextStep.Stop.Latitude, nextStep.Stop.Longitude, section.SectionBadge.BadgeBackgroundColor);
                    }
                        
                    if (j == 0) {
                        if (section.IsWalking) {
                            TUSZ.create_walking_marker(map, step.Stop.Latitude, step.Stop.Longitude, step.Stop.Name);
                        } else {
                            var route_data = TUSZ.create_route_data(section.RouteInfo.ShortName, section.SectionBadge.BadgeBackgroundColor, section.SectionBadge.BadgeLabelColor, section.RouteInfo.Type, section.RouteInfo.Direction);

                            for (var k in section.Steps) {
                                var s = section.Steps[k];
                                route_data.add_stop(s.When, s.Stop.Name);
                            }

                            TUSZ.create_travel_marker(map, step.Stop.Latitude, step.Stop.Longitude, route_data);
                        }
                    } else if (j == (countOfSteps - 1) && (i == (countOfSections - 1))) {
                        TUSZ.create_finish_marker(map, step.Stop.Latitude, step.Stop.Longitude, step.Stop.Name);
                        TUSZ.set_map_center(map, 47.5, 19.28);
                    }
                }
            }
        }
    </script>

    @Html.Partial("_ScriptOfPlannerInputs", Model.Inputs)

    <script>
        $("#plan-summary-details").click(function () {
            details_dialog.dialog("open");
        });
    </script>
}