@model IEnumerable<MTR.WebApp.Common.ViewModels.VMDL_Stop>
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Teszt oldal";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div id="map_canvas" style="width: 650px; height: 650px"></div>
</article>

<aside>
    <h3>Opciók</h3>
    <p>
        Itt még nincs semmi, de lesz.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

@section Scripts {
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx0BPr9sy2ndglbnwYrwrMzXmU0fDoSG8&sensor=true">
    </script>

    @Scripts.Render("~/bundles/maptools");

    <script type="text/javascript">
        window.onunload = function () { }
        window.onload = function () {
            // CreateMap
            MTR.MapTools.createMap("map_canvas");

            // Add Waypoints + Markers
            @Html.Raw("var markers = " + new JavaScriptSerializer().Serialize(Model) + ";")
            markers.forEach(function (marker, i) {
                MTR.MapTools.addMarkerToMap(marker.StopLatitude, marker.StopLongitude, "#" + (i+1) + " -- " + marker.StopName);
            });

            // draw path
            MTR.MapTools.drawPath();

            // setup infoWindows
            MTR.MapTools.setupInfoWindows();
        }
    </script>
}