<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Title - TUSZ</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

        @Styles.Render("jquery.css")
        @Styles.Render("fancytree.css")
        @Styles.Render("menetrend.css")
    </head>

    <body>
        <header>
            <img id="header-logo" src="img/routes-icon.png" />
            <h1>Menetrendkereső Szolgáltatás</h1>
            <nav>
                <ul>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "RoutePlanner" ? "selected" : "")">
                        @Html.ActionLink("Útvonaltervezés", "RoutePlanner", "Index")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "DatabaseBrowser" ? "selected" : "")">
                        @Html.ActionLink("Menetrend Böngészése", "DatabaseBrowser", "Index")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" ? "selected" : "")">
                        @Html.ActionLink("Adminisztráció", "Admin", "Index")
                    </li>
                </ul>
            </nav>
        </header>
        
        <div id="content">
            <div id="main">
                @RenderBody()
            </div>
            
            <aside>
                @RenderSection("sidebar", required: false)
            </aside>
        </div>

        @Scripts.Render("jquery.js")

        @RenderSection("before_scripts", required: false)

        @Scripts.Render("menetrend.js")

        @RenderSection("scripts", required: false)
    </body>
</html>