@{
    ViewBag.Title = "Bejelentések";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bejelentések</h2>
<div id="reports-list" class="contains-tables">
    <table>
        <thead>
            <tr>
                <th class="report-id report-column">ID</th>
                <th class="report-created report-column">Készült</th>
                <th class="report-received report-column">Érkezett</th>
                <th class="report-category report-column">Kategória</th>
                <th class="report-stop report-column">Megálló</th>
                <th class="report-status report-column">Állapot</th>
                <th class="report-action report-column">Lehetőségek</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Elolvasva<br />
                    <em>(2014-03-10&nbsp;14:11)</em></td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Olvasatlan</td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Elolvasva<br />
                    <em>(2014-03-10&nbsp;14:11)</em></td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Olvasatlan</td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Elolvasva<br />
                    <em>(2014-03-10&nbsp;14:11)</em></td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Olvasatlan</td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Elolvasva<br />
                    <em>(2014-03-10&nbsp;14:11)</em></td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Olvasatlan</td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Elolvasva<br />
                    <em>(2014-03-10&nbsp;14:11)</em></td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
            <tr>
                <td class="report-id report-column">9999</td>
                <td class="report-created report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-received report-column">2014-03-10&nbsp;14:00</td>
                <td class="report-category report-column">Baleset</td>
                <td class="report-stop report-column">Corvin Negyed M</td>
                <td class="report-status report-column">Olvasatlan</td>
                <td class="report-action report-column">
                    @Html.ActionLink("Olvasás", "ReportDetails", new { id = 0 })
                    @Html.ActionLink("Törlés", "DeleteReport", new { id = 0 })
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section sidebar {
    @Html.Partial("_AdminSidebar")
}