@{
    String itemFormatString = "{0}<br /><em>({1} megálló)</em>";
    // itt majd oda kell figyelni, mert a SetDirection-nak vissza kell irányítani az eredeti oldalra
}
<div id="browser-dropdown">
    <ul>
        <li>
            <div>
                @Html.Raw(String.Format(itemFormatString, "Kelenföld vasútállomás felé", 10))
            </div>
            <ul>
                <li>
                    <a href="@Url.Action("SetDirection", new { id = 0 })">
                        @Html.Raw(String.Format(itemFormatString, "Kelenföld vasútállomás felé", 10))
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("SetDirection", new { id = 0 })">
                        @Html.Raw(String.Format(itemFormatString, "Kelenföld vasútállomás felé", 10))
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("SetDirection", new { id = 0 })">
                        @Html.Raw(String.Format(itemFormatString, "Kelenföld vasútállomás felé", 10))
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
