@{
    String itemFormat = "{0} / {0}";
}

<div class="enumeration-of-routes">
    <div class="route-section-info">
        <span class="route-section-info-route">
            @Html.Partial("~/Views/Shared/_RouteLogo.cshtml")
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                @Html.ActionLink(String.Format(itemFormat, "Keleti pályaudvar", "Kelenföld vasútállomás"), "BrowseTimetable", new { id = 0 })
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            @Html.Partial("~/Views/Shared/_RouteLogo.cshtml")
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                @Html.ActionLink(String.Format(itemFormat, "Keleti pályaudvar", "Kelenföld vasútállomás"), "BrowseTimetable", new { id = 0 })
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            @Html.Partial("~/Views/Shared/_RouteLogo.cshtml")
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                @Html.ActionLink(String.Format(itemFormat, "Keleti pályaudvar", "Kelenföld vasútállomás"), "BrowseTimetable", new { id = 0 })
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>

    <div class="route-section-info">
        <span class="route-section-info-route">
            @Html.Partial("~/Views/Shared/_RouteLogo.cshtml")
        </span>
        <span class="route-section-info-section">
            <div class="route-section-info-section-start">
                @Html.ActionLink(String.Format(itemFormat, "Keleti pályaudvar", "Kelenföld vasútállomás"), "BrowseTimetable", new { id = 0 })
            </div>
            <div class="route-section-info-section-end">12-19 megálló</div>
        </span>
    </div>
</div>
